h1 {
  font-family: 'Lobster', cursive;
  font-size: 45;
  color: #FFC300;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

h3 {
  font-family: 'Lobster', cursive;
  font-size: 30;
  text-shadow: -1px 0 #FFC300, 0 1px #FFC300, 1px 0 #FFC300, 0 -1px #FFC300;

}

h4, h5, li {
  font-family: 'Nova Mono', monospace;
}

body {
  background-image: url(../../resources/images/pineapple.jpg);
}

.well {
  background-color: rgba(191, 191, 63, 0.5);
}
